## polymorphism

In [99]:
import pandas as pd

In [100]:
path=r"C:\Users\Admin\Desktop\Rashmi_DA\Datasets\Cars93.csv"

In [101]:
print(path)

C:\Users\Admin\Desktop\Rashmi_DA\Datasets\Cars93.csv

In [102]:
cars=pd.read_csv(path,na_values=['','NA'],keep_default_na=False)

In [103]:
cars.head(5)

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [104]:
cars.isna()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [105]:
cars.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [106]:
s=cars.isna().sum()

In [107]:
s[s>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [108]:
cars["AirBags"].mode()

0    Driver only
Name: AirBags, dtype: object

In [109]:
cars["Rear.seat.room"].median()

np.float64(27.5)

In [110]:
cars['Luggage.room'].median()

np.float64(14.0)

In [111]:
class replace_missing_con:
    def __init__(self,data):
        self.data=data
    def replace(self):
        print(f"missing values before replace {(self.data).isna().sum()}")    
        med=(self.data).median()
        (self.data).fillna(med,inplace=True)
        print(f"missing values after replaced {(self.data).isna().sum()}")
        print(f"missing values replaced with {med}")

In [112]:
cont=replace_missing_con(cars["Rear.seat.room"])

In [113]:
cont.replace()

missing values before replace 2
missing values after replaced 0
missing values replaced with 27.5

In [114]:
cont1=replace_missing_con(cars["Luggage.room"])

In [115]:
cont1.replace()

missing values before replace 11
missing values after replaced 0
missing values replaced with 14.0

In [116]:
class BaseSalary:
    def __init__(self,salary):
        self.salary=salary
    def get_base_salary(self):
        return self.salary

In [117]:
class Bonus:
    def __init__(self,bonus_per):
        self.bonus_per=bonus_per

    def calculate_bonus(self,base_salary):
        return (self.bonus_per/100)*base_salary

In [118]:
class Tax:
    def __init__(self,tax_per):
        self.tax_per=tax_per
    def calculate_tax(self,gross_salary):
        return (self.tax_per/100)*gross_salary

In [119]:
class TotalSalary(BaseSalary,Bonus,Tax):
    def __init__(self,salary,bonus_per,tax_per):
        BaseSalary.__init__(self,salary)
        Tax.__init__(self,tax_per)
        Bonus.__init__(self,tax_per)
    def calculate_total_salary(self):
          base_sal=self.get_base_salary()
          bonus=self.calculate_bonus(base_sal)
          gross_sal=base_sal+bonus
          tax=self.calculate_tax(gross_sal)
          net_sal=gross_sal-tax
          return {
               "base_salary":base_sal,
               "Bonus":bonus,
               "Gross_Salary":gross_sal,
               "Tax":tax,
               "Net_Salary":net_sal

          }

In [120]:
s1=TotalSalary(salary=50000,bonus_per=10,tax_per=12)

In [121]:
s1.salary

50000

In [122]:
s1.bonus_per

12

In [123]:
s1.tax_per

12

In [124]:
s1.calculate_bonus(50000)

6000.0

In [125]:
s1.get_base_salary()

50000

In [126]:
s1.calculate_total_salary()

{'base_salary': 50000,
 'Bonus': 6000.0,
 'Gross_Salary': 56000.0,
 'Tax': 6720.0,
 'Net_Salary': 49280.0}

In [127]:
class Employee:
    def __init__(self,name,emp_id):
        self.name=name
        self.emp_id=emp_id
    def info(self):
        return f"Name={self.name} and Employee_Id={self.emp_id}"

In [128]:
class Manager(Employee):
    def __init__(self, name, emp_id,department):
        super().__init__(name, emp_id)
        self.department=department
    def manager_info(self):
        return f"{self.info()}, Depatment={self.department}"

In [129]:
class Project_Manager(Manager):
    def __init__(self, name, emp_id, department,project):
        super().__init__(name, emp_id, department)
        self.project=project
    def get_project_info(self):
        return f"{self.manager_info()} Project={self.project}"

In [130]:
emp1=Project_Manager(name="suman",emp_id=134,department="IT",project="Solar Pannels")

In [131]:
emp1.info()

'Name=suman and Employee_Id=134'

In [132]:
emp1.manager_info()

'Name=suman and Employee_Id=134, Depatment=IT'

In [133]:
emp1.get_project_info()

'Name=suman and Employee_Id=134, Depatment=IT Project=Solar Pannels'

In [134]:
s3=TotalSalary(salary=600000,bonus_per=10,tax_per=12)

In [135]:
s3.salary

600000

In [136]:
s1.calculate_total_salary()

{'base_salary': 50000,
 'Bonus': 6000.0,
 'Gross_Salary': 56000.0,
 'Tax': 6720.0,
 'Net_Salary': 49280.0}