## Inheritance (single inheritance)

In [123]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def introduce(self):
        print(f"Hi Iam {self.name} and Iam {self.age} years old")

In [124]:
p1=person("rashmi",32)

In [125]:
p1.name

'rashmi'

In [126]:
p1.age

32

In [127]:
p1.introduce()

Hi Iam rashmi and Iam 32 years old

In [128]:
class employee(person):
    def __init__(self,company):
        self.company=company
    def work(self):
        print(f"Iam working at {self.company}")

In [129]:
emp2=employee("wipro")

In [130]:
emp2.company

'wipro'

In [131]:
emp2.name

AttributeError: 'employee' object has no attribute 'name'

In [ ]:
emp2.introduce()

AttributeError: 'employee' object has no attribute 'name'

In [ ]:
emp2.work()

Iam working at wipro

In [ ]:
class employee(person):
    def __init__(self, name, age,company):
        super().__init__(name, age)
        self.company=company
    def work(self):
        super().introduce()
        print(f"Iam working at {self.company}")

In [ ]:
emp1=employee("suman",35,"accenture")

In [ ]:
emp1.company

'accenture'

In [ ]:
emp1.name

'suman'

In [ ]:
emp1.age

35

In [ ]:
emp1.introduce()

Hi Iam suman and Iam 35 years old

In [ ]:
emp1.work()

Hi Iam suman and Iam 35 years old
Iam working at accenture

## practical application
pydantic module in python can be used for data validation

## multilevel inheritance((parent,child,grandchild)

In [ ]:
class employee:
    def __init__(self,name,emp_id):
        self.name=name
        self.emp_id=emp_id
    def get_employee_info(self):
        return f"name={self.name},ID={self.emp_id}"

In [ ]:
class manager(employee):
    def __init__(self, name, emp_id,department):
        super().__init__(name, emp_id)
        self.department=department
    def get_manager_info(self):
        return f"{self.get_employee_info()},Department={self.department}"

In [ ]:
class project_manager(manager):
    def __init__(self, name, emp_id, department,project):
        super().__init__(name, emp_id, department)
        self.project=project
    def get_project_info(self):
        return f"{self.get_manager_info()},Project={self.project}"

In [ ]:
emp4=employee("Rashmi",123)

In [ ]:
emp4.name

'Rashmi'

In [ ]:
emp4.emp_id

123

In [ ]:
emp4.get_employee_info()

'name=Rashmi,ID=123'

In [ ]:
emp5=manager("suman",234,"IT")

In [ ]:
emp5.get_employee_info()

'name=suman,ID=234'

In [ ]:
emp5.get_manager_info()

'name=suman,ID=234,Department=IT'

In [ ]:
emp6=project_manager("raman",234,"HR","solar")

In [ ]:
emp6.get_employee_info()

'name=raman,ID=234'

In [ ]:
emp6.get_manager_info()

'name=raman,ID=234,Department=HR'

In [ ]:
emp6.project

'solar'

In [ ]:
emp6.get_project_info()

'name=raman,ID=234,Department=HR,Project=solar'

In [ ]:
print(type(emp6))

<class '__main__.project_manager'>

In [ ]:
class parent:
    def __init__(self,name,surname):
        self.name=name
        self.surname=surname
    def introduce(self):
        print(f"Hi myself {self.name} and my surname is {self.surname}")

In [ ]:
class child(parent):
    def __init__(self, name, surname,address):
        super().__init__(name, surname)
        self.address=address
    def child_introduce(self):
        super().introduce()
        print(f"My address is {self.address}")

In [ ]:
a1=parent("suman","patil")

In [ ]:
a1.name

'suman'

In [ ]:
a1.surname

'patil'

In [ ]:
a1.introduce()

Hi myself suman and my surname is patil

In [ ]:
a2=child("raman","patil","wakad")

In [ ]:
a2.name

'raman'

In [ ]:
a2.introduce()

Hi myself raman and my surname is patil

In [ ]:
a2.child_introduce()

Hi myself raman and my surname is patil
My address is wakad

In [ ]:
class BaseSalary:
    def __init__(self,salary:float):
        self.salary=salary
    def get_base_salary(self):
        return self.salary

In [ ]:
class Bonus:
    def __init__(self,Bonus_Per:float):
        self.Bonus_Per=Bonus_Per
    def calculate_bonus(self,base_salary:float)->float:
        return (self.Bonus_Per/100)*base_salary

In [ ]:
class Tax:
    def __init__(self,Tax_Per:float):
        self.Tax_Per=Tax_Per
    def calculate_tax(self,gross_Sal:float)->float:
        return (self.Tax_Per/100)*gross_Sal

In [138]:
class TotalSalary(BaseSalary,Bonus,Tax):
    def __init__(self,salary:float,Bonus_Per:float,Tax_Per:float):
        BaseSalary.__init__(self,salary)
        Bonus.__init__(self,Bonus_Per)
        Tax.__init__(self,Tax_Per)
    def calculate_net_Salary(self)->dict[str,float]:
        base_sal=self.get_base_salary()
        bonus=self.calculate_bonus(base_sal)
        gross_sal=base_sal+bonus
        tax=self.calculate_tax(gross_sal)
        net_salary=gross_sal-tax
        return {
            "basesalary":base_sal,
            "bonus":bonus,
            "gross_salary":gross_sal,
            "tax":tax,
            "net_Salary":net_salary
        }

In [139]:
s2=TotalSalary(salary=50000,Bonus_Per=10,Tax_Per=12)

In [133]:
s2.salary

50000

In [134]:
s2.get_base_salary()

50000

In [140]:
s2.calculate_net_Salary()

{'basesalary': 50000,
 'bonus': 5000.0,
 'gross_salary': 55000.0,
 'tax': 6600.0,
 'net_Salary': 48400.0}

In [141]:
s2=TotalSalary(salary=1000000,Bonus_Per=10,Tax_Per=12)

In [142]:
s2.salary

1000000

In [143]:
s2.Bonus_Per

10

In [145]:
s2.Tax_Per

12

In [146]:
s2.get_base_salary()

1000000

In [149]:
s2.calculate_bonus(1000000)

100000.0

In [151]:
s2.calculate_tax(1100000)

132000.0

In [152]:
s2.calculate_net_Salary()

{'basesalary': 1000000,
 'bonus': 100000.0,
 'gross_salary': 1100000.0,
 'tax': 132000.0,
 'net_Salary': 968000.0}