## Polymorphism

In [10]:
name="raman"
emp_data=[101,"suman","suman@gmail.com","IT",42000]
emp_dept={
    "HR":[101,102,103,104],
    "sales":[201,202,203,204],
    "IT":[301,302,303,304,305]
}

In [11]:
name

'raman'

In [12]:
## number of character present in the string
len(name)

5

In [13]:
## number of elements present in the list
len(emp_data)

5

In [14]:
## number of keys present in the dic
len(emp_dept)

3

## user defined polymorphism scenario

In [15]:
class INDIA:
    def __init__(self):
        pass
    
    def capital(self):
        print("Delhi is the capital of INDIA")

    def language(self):
        print("Hindi & English are widely spoken laguages in INDIA")

In [16]:
class USA:
    def __init__(self):
        pass
    def capital(self):
        print("Washinghton DC is the capital of INDIA")
    def language(self):
        print("English is the widely spoken laguages in USA")

In [17]:
ctry1=INDIA()
ctry2=USA()

In [18]:
ctry1.capital()

Delhi is the capital of INDIA

In [19]:
ctry1.language()

Hindi & English are widely spoken laguages in INDIA

In [20]:
ctry2.capital()

Washinghton DC is the capital of INDIA

In [22]:
ctry2.language()

English is the widely spoken laguages in USA

In [23]:
import pandas as pd

In [31]:
cars=pd.read_csv("Cars93.csv",na_values=['',"NA"],keep_default_na=False)

In [32]:
cars

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [33]:
cars.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [34]:
s=cars.isna().sum()

In [35]:
s[s>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [38]:
cars["AirBags"].unique()

array(['None', 'Driver & Passenger', 'Driver only', nan], dtype=object)

In [39]:
cars["Rear.seat.room"].unique()

array([26.5, 30. , 28. , 31. , 27. , 30.5, 35. , 25. , 26. , 28.5, 33.5,
       29.5,  nan, 36. , 20. , 27.5, 24. , 23. , 24.5, 23.5, 29. , 31.5,
       19. , 25.5, 34. ])

In [40]:
cars["Luggage.room"].unique()

array([11., 15., 14., 17., 13., 16., 21., 18., nan, 20., 12., 10.,  8.,
        9., 19., 22.,  6.])

In [48]:
med1=cars["Luggage.room"].median()

In [49]:
med1

np.float64(14.0)

In [50]:
cars["AirBags"].mode()

0    Driver only
Name: AirBags, dtype: object

In [51]:
class replace_missing_cont:
    def __init__(self,data):
        self.data=data
    def replace(self):
        print(f"missing values before replace {(self.data).isna().sum()}")
        med=(self.data).median()
        (self.data).fillna(med,inplace=True)    
        print(f"missing values after replace {(self.data).isna().sum()}")
        print(f"missing values replaced with {med}")

In [52]:
class replace_missing_cate:
    def __init__(self,data):
        self.data=data
    def replace(self):
        print(f"missing values before replace {(self.data).isna().sum()}")
        md=self.data.mode()[0]    
        self.data.fillna(md,inplace=True)
        print(f"missing values after replace {(self.data).isna().sum()}")
        print(f"missing values replaced with {md}")

In [53]:
cont1=replace_missing_cont(cars['Luggage.room'])

In [54]:
cont1.data

0     11.0
1     15.0
2     14.0
3     17.0
4     13.0
      ...
88     NaN
89    14.0
90    15.0
91    14.0
92    15.0
Name: Luggage.room, Length: 93, dtype: float64

In [55]:
cont1.replace()

missing values before replace 11
missing values after replace 0
missing values replaced with 14.0

In [56]:
cont2=replace_missing_cont(cars['Rear.seat.room'])

In [57]:
cont2.data

0     26.5
1     30.0
2     28.0
3     31.0
4     27.0
      ...
88    34.0
89    31.5
90    26.0
91    29.5
92    30.0
Name: Rear.seat.room, Length: 93, dtype: float64

In [58]:
cont2.replace()

missing values before replace 2
missing values after replace 0
missing values replaced with 27.5

In [59]:
cate=replace_missing_cate(cars['AirBags'])

In [60]:
cate.data

0                   None
1     Driver & Passenger
2            Driver only
3                    NaN
4            Driver only
             ...
88                  None
89                  None
90                  None
91           Driver only
92    Driver & Passenger
Name: AirBags, Length: 93, dtype: object

In [61]:
cate.replace()

missing values before replace 4
missing values after replace 0
missing values replaced with Driver only