## variadic functions

In [1]:
def add_num(x:int,y:int):
    """
    take two numbers as input
    return addition of two numbers
    """
    z=x+y
    return z

In [2]:
add=add_num(12,23)
print(f"output of addition is {add}")

output of addition is 35

In [3]:
def add(*args):
    for i in args:
        print(i)

In [4]:
add(12,23,45,12)

12
23
45
12

In [5]:
def add1(*args):
    s=0
    for i in args:
        s=s+i
    return s

In [6]:
addition=add1(12,23,34,45)
addition

114

In [7]:
add2=add1(1,2,3,4)
add2

10

In [8]:
def multiplcation(*args):
    s=1
    for i in args:
        s=s*i
    return s

In [9]:
mul1=multiplcation(12,23)
mul1

276

In [10]:
mul2=multiplcation(23,45,56,67)

In [11]:
mul2

3883320

In [12]:
def mul(x,*args):
    p=1
    for i in args:
        p=p*i
    return f"product performed by {x} is {p}"

In [13]:
mul3=mul("rashmi",34,2)
mul3

'product performed by rashmi is 68'

In [14]:
def multiply(x,*args):
    p=1
    for i in args:
        p=p*i
    welcome=f"welcome {x}"    
    return f"{welcome}: product of the provided data is {p}"

In [15]:
mul4=multiply("Rashmi",12,2)
mul4

'welcome Rashmi: product of the provided data is 24'

In [16]:
def add2(x,*args):
    s=0
    for i in args:
        s=s+1
    welcome=f"welcome {x}"
    return f"{welcome}:sum of the provided data is {s}"

In [17]:
addition1=add2("Rashmi",12,23)

In [18]:
print(addition1)

welcome Rashmi:sum of the provided data is 2

### scenario:i have a list of data.i want to add a value to each list(append)
          emp1=[101,"raman"]
         emp2=[102,"thaman"]
          these two are working for IT dep
        write a function that takes list as input and appends dep details to both lists

In [22]:
def appendlist(department,*lists):
    """
    take multiple lists as input and append deprtment to each list
    """
    for l in lists:
        l.append(department)

In [23]:
emp1=[101,"raman"]
emp2=[102,"thamn"]

In [24]:
appendlist("IT",emp1,emp2)

In [25]:
emp1

[101, 'raman', 'IT']

In [26]:
emp2

[102, 'thamn', 'IT']

In [28]:
ab1=["raman",102]
ab2=["thamn",103]
ab3=["suman",104]
ab4=["baman",105]

In [29]:
appendlist("HR",ab1,ab2,ab3,ab4)

In [30]:
ab1

['raman', 102, 'HR']

In [31]:
ab2

['thamn', 103, 'HR']

In [32]:
emp_data=["ravi",102]

In [33]:
emp_data.append("IT")

In [34]:
emp_data

['ravi', 102, 'IT']

## keyword arguments

In [35]:
def fun1(**kwargs):
    print(type(kwargs))

In [37]:
fun1(id=192)

<class 'dict'>

In [38]:
dct={
    "raman":102
}

In [39]:
type(dct)

dict

In [45]:
dct.values()

dict_values([102])

In [46]:
dct.keys()

dict_keys(['raman'])

In [48]:
dct.items()

dict_items([('raman', 102)])

In [51]:
def fun1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [52]:
fun1(id=101,name="raman",salary=35000)

<class 'dict'>
dict_items([('id', 101), ('name', 'raman'), ('salary', 35000)])

In [62]:
def add_fun(x,*args):
    s=0
    for i in args:
        s=s+i
    welcome=f"welcome {x}"
    return f"{welcome}: sum of given numbers is:{s} "

In [63]:
add_num=add_fun("rashmi",12,13)

In [64]:
add_num

'welcome rashmi: sum of given numbers is:25 '

In [65]:
emp_data1=[101,"raman","IT"]

In [66]:
emp_data2=[102,"taman","HR"]

In [68]:
emp_data3=[103,"suman","BPO",32000,"pune"]

In [82]:
def dic_lenght(**kwargs):
    dct={}
    for key,value in kwargs.items():
        dct[key]=len(value)
    return dct

In [83]:
lenght_fun=dic_lenght(emp1=emp_data1,emp2=emp_data2,emp3=emp_data3)

In [84]:
lenght_fun

{'emp1': 3, 'emp2': 3, 'emp3': 5}

In [85]:
def count_args(*args,**kwargs):
    print(len(args),len(kwargs))

In [86]:
count_args(1,3,4,5,name="rashmi")

4 1

In [87]:
count_args(12,34,3,4,5,name="rash",id=101,dept="It")

5 3