## variadic functions

In [228]:
def add_num(x:int,y:int):
    """
    take two numbers as input
    return addition of two numbers
    """
    z=x+y
    return z

In [229]:
add=add_num(12,23)
print(f"output of addition is {add}")

output of addition is 35

In [230]:
def add(*args):
    for i in args:
        print(i)

In [231]:
add(12,23,45,12)

12
23
45
12

In [232]:
def add1(*args):
    s=0
    for i in args:
        s=s+i
    return s

In [233]:
addition=add1(12,23,34,45)
addition

114

In [234]:
add2=add1(1,2,3,4)
add2

10

In [235]:
def multiplcation(*args):
    s=1
    for i in args:
        s=s*i
    return s

In [236]:
mul1=multiplcation(12,23)
mul1

276

In [237]:
mul2=multiplcation(23,45,56,67)

In [238]:
mul2

3883320

In [239]:
def mul(x,*args):
    p=1
    for i in args:
        p=p*i
    return f"product performed by {x} is {p}"

In [240]:
mul3=mul("rashmi",34,2)
mul3

'product performed by rashmi is 68'

In [241]:
def multiply(x,*args):
    p=1
    for i in args:
        p=p*i
    welcome=f"welcome {x}"    
    return f"{welcome}: product of the provided data is {p}"

In [242]:
mul4=multiply("Rashmi",12,2)
mul4

'welcome Rashmi: product of the provided data is 24'

In [243]:
def add2(x,*args):
    s=0
    for i in args:
        s=s+1
    welcome=f"welcome {x}"
    return f"{welcome}:sum of the provided data is {s}"

In [244]:
addition1=add2("Rashmi",12,23)

In [245]:
print(addition1)

welcome Rashmi:sum of the provided data is 2

### scenario:i have a list of data.i want to add a value to each list(append)
          emp1=[101,"raman"]
         emp2=[102,"thaman"]
          these two are working for IT dep
        write a function that takes list as input and appends dep details to both lists

In [246]:
def appendlist(department,*lists):
    """
    take multiple lists as input and append deprtment to each list
    """
    for l in lists:
        l.append(department)

In [247]:
emp1=[101,"raman"]
emp2=[102,"thamn"]

In [248]:
appendlist("IT",emp1,emp2)

In [249]:
emp1

[101, 'raman', 'IT']

In [250]:
emp2

[102, 'thamn', 'IT']

In [251]:
ab1=["raman",102]
ab2=["thamn",103]
ab3=["suman",104]
ab4=["baman",105]

In [252]:
appendlist("HR",ab1,ab2,ab3,ab4)

In [253]:
ab1

['raman', 102, 'HR']

In [254]:
ab2

['thamn', 103, 'HR']

In [255]:
emp_data=["ravi",102]

In [256]:
emp_data.append("IT")

In [257]:
emp_data

['ravi', 102, 'IT']

## keyword arguments

In [258]:
def fun1(**kwargs):
    print(type(kwargs))

In [259]:
fun1(id=192)

<class 'dict'>

In [260]:
dct={
    "raman":102
}

In [261]:
type(dct)

dict

In [262]:
dct.values()

dict_values([102])

In [263]:
dct.keys()

dict_keys(['raman'])

In [264]:
dct.items()

dict_items([('raman', 102)])

In [265]:
def fun1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [266]:
fun1(id=101,name="raman",salary=35000)

<class 'dict'>
dict_items([('id', 101), ('name', 'raman'), ('salary', 35000)])

In [267]:
def add_fun(x,*args):
    s=0
    for i in args:
        s=s+i
    welcome=f"welcome {x}"
    return f"{welcome}: sum of given numbers is:{s} "

In [268]:
add_num=add_fun("rashmi",12,13)

In [269]:
add_num

'welcome rashmi: sum of given numbers is:25 '

In [270]:
emp_data1=[101,"raman","IT"]

In [271]:
emp_data2=[102,"taman","HR"]

In [272]:
emp_data3=[103,"suman","BPO",32000,"pune"]

In [273]:
def dic_lenght(**kwargs):
    dct={}
    for key,value in kwargs.items():
        dct[key]=len(value)
    return dct

In [274]:
lenght_fun=dic_lenght(emp1=emp_data1,emp2=emp_data2,emp3=emp_data3)

In [275]:
lenght_fun

{'emp1': 3, 'emp2': 3, 'emp3': 5}

In [276]:
def count_args(*args,**kwargs):
    print(len(args),len(kwargs))

In [277]:
count_args(1,3,4,5,name="rashmi")

4 1

In [278]:
count_args(12,34,3,4,5,name="rash",id=101,dept="It")

5 3

In [279]:
count_args(12,34,56,67,id=101,name="rashmi")

4 2

## scenario: write a function that determines whether a student has passed or failed the exam

In [280]:
def student_passfail(**kwargs):
    '''take name and marks for multiple students as input
        prints whether the student has passed or failed'''
    for name,marks in kwargs.items():
        if marks>35:
            pf="passed"
        else:
            pf="failed"
        print(f"hi {name} you have {pf}")

In [281]:
student_passfail(raman=75,suman=23)

hi raman you have passed
hi suman you have failed

In [282]:
student_passfail(radha=67,baman=34,geeta=67,arjun=87)

hi radha you have passed
hi baman you have failed
hi geeta you have passed
hi arjun you have passed

In [283]:
def student_passfail2(**kwargs):
    '''take name and marks for multiple students as input
    return dictionary that contains info of the student whether he/she has passed or failed'''
    dic={}
    for name,marks in kwargs.items():
        if marks>35:
            pf="passed"
        else:
            pf="failed"
        dic[name]=pf
    return dic

In [284]:
passedfail_data=student_passfail2(rashmi=98,suman=54,raman=23,baman=32)

In [285]:
passedfail_data

{'rashmi': 'passed', 'suman': 'passed', 'raman': 'failed', 'baman': 'failed'}

In [286]:
for i,j in passedfail_data.items():
    print(f"hi {i} you have {j}")

hi rashmi you have passed
hi suman you have passed
hi raman you have failed
hi baman you have failed

## creat a user profile based on details provided to the function

In [287]:
def creat_user(**kwargs):
    profile={}
    profile["username"]=kwargs["username"]
    profile["fullname"]=kwargs["fullname"]
    profile["age"]=kwargs["age"]
    profile["loaction"]=kwargs["location"]
    return profile

In [288]:
creat_profile=creat_user(username="rashmi",fullname="rashmi rs",age=32,location="pune")
creat_profile

{'username': 'rashmi', 'fullname': 'rashmi rs', 'age': 32, 'loaction': 'pune'}

In [289]:
def creat_user1(**kwargs):
    profile={}
    for key,value in kwargs.items():
        profile[key]=value
    return profile

In [290]:
user_profile2=creat_user1(username="rashmi",fullname="rashmi rs",age=32,location="pune")
user_profile2

{'username': 'rashmi', 'fullname': 'rashmi rs', 'age': 32, 'location': 'pune'}

In [291]:
user_profile2=creat_user1(name="raman",id=101,age=34,salary=23000,location="pune")
user_profile2

{'name': 'raman', 'id': 101, 'age': 34, 'salary': 23000, 'location': 'pune'}