# Class

In [4]:
import pandas as pd

In [5]:
path=r"C:\Users\Admin\Desktop\python data frame\50_Startups (1).csv"
print(path)

C:\Users\Admin\Desktop\python data frame\50_Startups (1).csv

In [6]:
df=pd.read_csv(path)

In [6]:
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [7]:
df.shape

(50, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
df.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [11]:
df["STATE"].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [13]:
df["STATE"].value_counts()

STATE
New York      17
California    17
Florida       16
Name: count, dtype: int64

## creat a class person and defines its attributes and methods

In [9]:
class person:
    def __init__(self,name,age,accupation,stay):
        self.name=name
        self.age=age
        self.accupation=accupation
        self.stay=stay
    def talk(self):
        print(f"Hi myself {self.name}.I'am {self.age} years old")
        print(f"I live in {self.stay}")
        print(f"I work at {self.accupation}")
    def work(self,n):
        print(f"I work at {self.accupation}")
        print(f"Its been {n} years since am working at this company")

In [10]:
p1=person(name="Raman",age=35,stay="pune",accupation="IT Engineer")

In [11]:
p1.age

35

In [4]:
p1.name

'Raman'

In [5]:
p1.talk()

Hi myself Raman.I'am 35 years old
I live in pune
I work at IT Engineer

In [12]:
p1.work(4)

I work at IT Engineer
Its been 4 years since am working at this company

In [13]:
class cake:
    def __init__(self,cakename,theme,occasion):
        self.cakename=cakename
        self.theme=theme
        self.occasion=occasion

    def talk(self):
        print(f"Hi today is my {self.occasion}.please bake {self.cakename} and theme is {self.theme}")

In [14]:
cake1=cake(cakename="blueberry",theme="Spiderman",occasion="Birthday")

In [15]:
cake1.cakename

'blueberry'

In [16]:
cake1.talk()

Hi today is my Birthday.please bake blueberry and theme is Spiderman

### creat a class bank that contains attributes like accountnumber,name,balance defines different methods like withdrawal,deposite,tranfer

In [2]:
class etl_bank:
    def __init__(self,account_number,account_name,balance):
        self.account_number=account_number
        self.account_name=account_name
        self.balance=balance

     # creat a method that performs withdrawal action
    def withdrawal(self,amount):
        if amount<self.balance:
           self.balance=self.balance-amount
           return f"amount withdrawn is {amount}. and your updated balance is {self.balance}"
        else:
            return f"you dont have sufficient balance"

    # creat a method that performs deposit action
    def deposit(self,deposit_amount):
        self.balance=self.balance+deposit_amount
        return f"Amount deposited is {deposit_amount}.and your updated balance is {self.balance}"

    # creat a method that transfer the amount to another acc
    def transfer(self,transfer_amount,acc_num):
        self.balance=self.balance-transfer_amount
        return f"Amount being transfered is {transfer_amount} to {acc_num}.and your updated balance is{self.balance}"

In [34]:
bank1=etl_bank(account_number=12657687,account_name="Rashmi",balance=3000000)

In [19]:
bank1.account_name

'Rashmi'

In [29]:
bank1.withdrawal(100000)

'amount withdrawn is 100000. and your updated balance is 2900000'

In [30]:
bank1.deposit(100000)

'Amount deposited is 100000.and your updated balance is 3000000'

In [35]:
bank1.transfer(1000000,2389769876)

'Amount being transfered is 1000000 to 2389769876.and your updated balance is2000000'

In [37]:
bank2=etl_bank(account_number=78654312,account_name="Rohit",balance=200000)

In [38]:
bank2.account_name

'Rohit'

In [39]:
bank2.withdrawal(300000)

'you dont have sufficient balance'

In [3]:
bank2=etl_bank(account_number=76489356,account_name="Rohit",balance=500000)

In [4]:
bank2.account_name

'Rohit'

In [6]:
bank2.account_number

76489356

In [7]:
bank2.balance

500000

In [9]:
bank2.deposit(200000)

'Amount deposited is 200000.and your updated balance is 700000'

In [10]:
bank2.withdrawal(100000)

'amount withdrawn is 100000. and your updated balance is 600000'

In [11]:
bank2.transfer(200000,7645425561)

'Amount being transfered is 200000 to 7645425561.and your updated balance is400000'

In [25]:
class student_preprimary():
    # define the class attributes
    sectiona=45
    sectionb=65
    class_teacher_a="priya"
    class_teacher_b="riya" 
    @classmethod
    def welcome(cls):
        print(f"welcome to this school.we have 2 sections {cls.sectiona} & {cls.sectionb}")

In [13]:
student_preprimary.class_teacher_a

'priya'

In [14]:
student_preprimary.sectiona

45

In [17]:
student1=student_preprimary
student2=student_preprimary

In [26]:
student3=student_preprimary

In [27]:
student3.welcome()

welcome to this school.we have 2 sections 45 & 65

In [7]:
class employee_data():
    department="IT"
    employee_count=50
    @classmethod
    def welcome(cls):
        print(f"Iam working in {cls.department} and employee count is {cls.employee_count}")

In [8]:
company1=employee_data

In [9]:
company1.department

'IT'

In [10]:
company1.employee_count

50

In [11]:
company1.welcome()

Iam working in IT and employee count is 50

In [12]:
class cars:
    # class attributes
    greeting="Welcome to our showroom.please explore our car models"
    # define instance attributes
    def __init__(self,manufacturer,price):
        self.manufacturer=manufacturer
        self.price=price
    def hyundai_model_info(self):
        return f"we sell different models for this manufacturer like i20,i10"
    def maruti_model_info(self):
        return f"we sell different models for this manufacturer like nexa baleno,swift"
    @classmethod
    def welcome (cls):
        print(cls.greeting)

In [14]:
enquiry1=cars(manufacturer='hyundai',price=100000)

In [15]:
enquiry1.manufacturer

'hyundai'

In [16]:
enquiry1.price

100000

In [17]:
enquiry1.greeting

'Welcome to our showroom.please explore our car models'

In [18]:
enquiry1.hyundai_model_info()

'we sell different models for this manufacturer like i20,i10'

In [19]:
enquiry1.maruti_model_info()

'we sell different models for this manufacturer like nexa baleno,swift'